@model IEnumerable<LojaVirtual.Models.Category>

<div class="header-list-group">
    <a href="@Url.Action("Index", "AdItem")">
        <img src="@Url.Content("~/Content/Images/")store-icon.png" alt="Virtual Store Icon" class="img-circle">
        <p class="lead">Loja do S2B</p>
    </a>
</div>

<div class="list-group">
    <a href="#" class="list-group-item active">Category 1</a>
    <a href="#" class="list-group-item">Category 2</a>
    <a href="#" class="list-group-item">Category 3</a>
</div>